.right-tab{
    
    margin-top: 0px;
    width: 300px;
    height: 320px;
    margin-left: 1020px;
    margin-right: 100px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    
    position: absolute;
    
}
.right-news{
    padding-left: 10px;
    margin-top: 12px;
    font-size: 18px;
    font-family: calibri;
    font-weight: 600;
    opacity: 0.8;    
}
.info{
    width: 12px;
    height: 12px;
    margin-left: 150px;
}
.circle{
    width: 8px;
    padding-right: 10px;
   
}
.news-text{
    margin-top: 8px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: calibri;
}
.news-subtext{
    margin-left: 28px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 500;
    color: #847878ee;
    font-family: calibri;
}
.news-text:hover{
    background-color:  #eeee;
}
.arrow1{
    width: 30px;
    height: 20px;
    position: absolute;
    transform: rotate(180deg);
    top: 2px;
    opacity: 0.5;
}
.show{
    margin-left: 28px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 600;
    color:#6b6262ee;
    font-family: calibri;
    position: relative;
}
.right-tab-bottom{
    
    margin-top: 328px;
    width: 300px;
    height: 245px;
    margin-left: 1020px;
    margin-right: 100px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
   


    position: absolute;
    
}
.right-text1{
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    color:#6b6262ee;
    font-family: calibri;
    margin-left: 245px;
}
.right-text2{
    width: 300px;
    text-align: center;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 300;
    color:#6b6262ee;
    font-family: calibri;
   
    margin-right: 4px;
}
.dots1{
    position: absolute;
    top: 8px;
    margin-left: 2px;  
    width: 30px;
    height: 15px;
    opacity: 0.6;
    
}
.key{
    position: absolute;
    
    height: 70px;
    left: 160px;
    top: 80px;
}
.try-for-free{
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(0, 123, 255); 
    height: 35px;
    width: 120px;
    border-radius: 25px;
    margin-left: 100px;
    margin-top: 8px;
    color: rgb(0, 123, 255); 
    font-weight: 600;
    cursor: pointer;
}